<%- include('partials/header') %>

<div class="card mb-3 w-75 mx-auto">
  <div class="card-body">
    <!-- for dipsplaying title and content -->
    <h3 class="card-title" ><%= post.title %></h3>
    <p class="card-text"><%= post.content %></p>
    <!--creating buttons that link to the edit page and home page -->
    <a href="/" class="btn btn-secondary btn-sm"><i class="fa fa-home"></i> Back to Home</a>
    <a href="/edit/<%= post.id %>" class="btn btn-primary btn-sm ml-2"><i class="fa fa-edit"></i> Edit Post</a>
    <!-- create a delete button, to delete posts when in posts route-->
  
    </form>
  </div>
</div>

<%- include('partials/footer') %>
